* {
    box-sizing: border-box;
    margin: 0;
}

.page {
    display: flex;
    min-height: 100vh;
    font-family: 'Cairo', sans-serif;
}

/* NavBar Started */
.navbar {
    background-color: white;
    padding: 13px;
    display: flex;
    align-items: center;
}
a{
    padding-right: 25px;
    text-decoration: none;
}
.navbar span{
    margin-left: auto;
}

.navbar span i{
    padding-right: 25px;
}

.navbar input[type="text"] {
    padding: 10px;
    width: 350px;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
    background-color: #ebeff9;
    height: 40px;
}


input[type="text"]:focus{
    outline: none;
}


.admin{
    text-align: center;
    padding: 17.5px;
    border-bottom: 0.5px solid;
}

/* NavBar Ended */


/* SideBar Started*/
.sidebar {
    background-color: rgb(0, 71, 122);
    color: white;
    width: 250px;
}
.sidebar ul li:hover {
    background: rgb(235, 239, 249);
    color: black;
    border-radius: 50px 0px 0px 50px;
}


.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
  padding: 10px;
}


.sidebar ul {
   padding:50px 0px 0px 20px;
}

.sidebar ul li {
    list-style: none;
    color: white;
    font-weight: 900;
}


.sidebar span {
    font-size: 15px;
}

.content {
    background-color: #ebeff9;
    flex-grow: 1;
}
/* SideBar Started*/




/* Cards */
.cards h3 {
    margin: 0 0 10px;
}

.cards ul li:hover{
 /* transform: scale(1.05); */
 top: +10px;
}

.cards ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.cards ul li {
    /* background-color: #f7f7f7; */
    text-align: center;
    width: calc(95%/ 4);
    height: 130px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    background-image: linear-gradient(to left,#0162e880,#0161e8f1);
    border-radius: 3px;
}

.cards ul li.items{
    background-image: linear-gradient(45deg, #f93a5a, #f7778c)
}

.cards ul li.countries{

    background-image: linear-gradient(to left, #48d6a8 0%, #029666 100%) !important;
}
.cards ul li.orders{

    background-image: linear-gradient(to left, #efa65f, #f76a2d) !important;
}


.cards ul li span {
    display: block;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Cards Ended*/


/* Area */
.area {
    /* background-color: white; */
    padding: 20px;
    margin: 20px;
}

.area table {
    width: 100%;
    border-spacing: 1px;
}

.area table thead td {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}

.area table tbody td {
    text-align: center;
    background-color: white;
}

.area table td {
    padding: 15px;
    vertical-align: middle;
}


.add button {
    background-color: rgb(7, 179, 156);
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 2px;
    margin: 15px 0px 0px 40px;
}
.add button a {
    color: rgb(255, 255, 255);
}

/*194*/