*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    background-color: rgb(232, 235, 238);
    font-family:sans-serif;
}
.navbar{
    background-color: #FFFFFF;
    height: 56px;
    display: flex;
    box-shadow: -1px 0px 3px 0px rgb(86 86 86 / 20%);
    padding: 8px 12px 10px;
}
svg.Layer_1{
    height: 46px;
}
.logo{
    padding: 10px;
    margin-right: auto;
}

input[type="text"],
input[type="password"]
{
    height: 40px;
    padding: 8px 12px 10px;
    font-size: 15px;
    font-weight: 200;
    width: 188px;
    border-radius: 6px;
    border: 1px solid rgb(193 195 198);
    padding-right: 25px;
}
input[type="text"]:focus, 
input[type="password"]:focus{
  outline: none;
}

button{
    color: white;
    background-color: rgb(26, 115, 227);
    height: 40px;
    width: 65px;
    font-size: initial;
    border: 1px;
    border-radius: 6px;
    margin: 0px 7px 0px 2px;
}
a{
    text-decoration: none;
    color: rgb(34, 110, 219);
    font-weight: 100;
    padding-right: 25px;
    font-size: 14px;
}

  ::placeholder{
      color: rgb(138, 141, 145);
  }







  /* body*/
  .body{
    background: white;
    height: 290px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 6px;
    margin-top: 90px;
  }

  .body h1{
    font-size: 20px;
    padding: 18px 16px 18px 18px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  h3{
    padding: 19px;
    font-weight: 100;
  }

  .body input{
    border-radius: 6px;
    color: #8a8d91;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: auto;
    padding: 16px 0 16px 16px;
    width: 92%;
    margin-left: 4%;
    margin-bottom: 25px;
  }
  
.body-btn{
    display: flex;
    padding: 15px;
    justify-content: flex-end;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

  .body-btn button{
    width: 95px;
    margin: 5px;
    height: 36px;
  }

  .body-btn .cancel{
      background-color: rgb(232, 235, 238);
      color: rgb(75, 79, 85);
  }

  /* .hr{
      margin-top: 10px;
  } */