*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    background-color: rgb(232, 235, 238);
    font-family:sans-serif;
}
.navbar{
    background-color: #FFFFFF;
    height: 56px;
    display: flex;
    box-shadow: 1px 1px 1px 1px rgb(86 86 86 / 20%);
    padding: 10px;
}
.input placeholder{
   color:red;
}
.logo{
    padding: 10px;
    margin-right: auto;
}

input[type="text"],
input[type="password"]
{
    height: 40px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    width: 188px;
    border-radius: 6px;
    border: 1px solid rgb(193 195 198);
    padding-right: 25px;
}

button{
    color: white;
    background-color: rgb(26, 115, 227);
    height: 40px;
    width: 65px;
    font-size: initial;
    border: 1px;
    border-radius: 6px;
}
a{
    text-decoration: none;
    color: rgb(34, 110, 219);
    font-weight: 100;
    padding-right: 25px;
}