*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0);
    border-radius: 10px;
}

.container .form{
    padding: 30px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color:rgb(210, 208, 208);
    border-radius: 25px;
}

.form .input-field{
    background-color: rgb(148, 35, 35);
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    height: 100%;
    width: 100%;
}